
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.header_wrapper marquee{
    color: #FD4766;
}


.header_wrapper .navbar-brand,
.header_wrapper .navbar-brand span{
    font-family: 'Dancing Script', cursive;
}

.header_wrapper .navbar-toggler {
    border: 0;
    color: black;
    line-height: 2;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}


.header_wrapper .nav-item {
    margin: 0 5px;
}

.header_wrapper .nav-item .nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color:  #FD4766;
    display: inline-block;
}

.header_wrapper .nav-item .nav-link input {
   outline: none;
}

.header_wrapper .nav-item .nav-link input::placeholder{
    font-size: 12px;
    font-weight: bold;
 }

 .modal h3{
    font-size: 30px;
    font-weight: 700;
    color:rgb(209, 204, 204);
}

.modal .card{
  background-color: transparent; 
  color: white;
  border: 5px solid gray;
   border-radius: 20px;
   color:rgb(209, 204, 204);
}

 .modal  .card .card-body input{
    background-color: transparent;
   border-width: 2px;
  color:rgb(209, 204, 204);
}

.modal  .card .card-body input[type="submit"]{
    background-color: blue;
}


 .modal .card .card-body input:focus,
input:hover{
   outline: none;
   box-shadow: none;
}

/* --------------------------------------------home_wrapper---------------------------------------------- */

.home_section{
    width: 100%;
    height: 100%;
    min-height: 800px;
    background-image: url(images/h2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -200px;
}

.home_section .col-lg-6{
    margin-top: 500px;
    border: 2px solid beige;
     font-family: 'Whisper', cursive;
     background-color: bisque;
}

.home_section .col-lg-6 h1{
    font-family: 'Dancing Script', cursive;
}

.contact form{
    background-color: #FAEBD7;
}


/* ---------------------------------Footer section ---------------------------------------------- */


.footer_wrapper .social-icon li {
    margin: 6px;
}

.footer_wrapper .social-icon a {
    width: 35px;
    height: 35px;
    line-height: 32px;
    font-size: 14px;
    display: inline-block;
    border: 2px solid gray;
    color: gray;
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-icon a:hover {
    background-color: #FD4766;
    border-color:#FD4766;
    color: white;
    box-shadow: 0 10 15 0 rgb(0 0 0 / 10%);
    transform: translateY(-3px);
}

.footer_wrapper .copyright-text p {
    font-size: 11px;
    line-height: 20px;
}

.footer_wrapper .copyright-text a {
    color: #FD4766;
}

.footer_wrapper .footer-log,
.footer_wrapper .footer-log span{
    font-family: 'Dancing Script', cursive;
}


